<div class="container">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" routerLink="/list-user">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add-user">Add</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/logout">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/v1">ToggleClass</a>
      </li>
      <li class="nav-item" *ngIf="exclusive">
        <h3>Exlusive</h3>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Disabled</a>
      </li> -->
    </ul>
  </div>